<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="styles/main.css">
    
</head>
<body>
    <div class="container">
        <header>
            <nav>
                 <h1>LOGO</h1>
                    <ul>
                        <li><a href="#">Inventario</a></li>
                        <li><a href="#">Stock</a></li>
                        <li><a href="#">Caja</a></li>
                        <li><a href="#">Panel</a></li>
                    </ul>
                 </h1>
            </nav>
        </header>
    </div>
    
</body>
</html> 